/**
 * Stylesheet:  style.css
 * Theme:       Corponix - Corporate & Business Responsive Template
 * Version:     1.0
 * Author:     	Theme Garbage
 * URL:         https://themeforest.net/user/themegarbage
 * 
 */
/* Table of contents
=========================
1.Preloader
2.Scrollup
3.Header Section
4.Menu  Section
5.Slider Section
6.About Us Section
7.Gallery V1 Section
8.Title Section
9. About Service sec
10.Service Section
11.Pricing Package Section
12.Project Gallery Section
13. Project Details Page Section
14.Service Details Section
15.Count Up Section 
16.Free Consult Section
17.Faq Section
18.Blog Section
19.Sidebar Section
20.Testimonial Section
21.Page Heading Section
22.Team section
23.Faq Page
24.Contact Page
25.Call To Action Section
26.404 Page Section
27.Footer Section 
28.Why Choose Us Section 
===========================*/

/*------------------*/
/*Theme default CSS
/*------------------*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none; }

html,
body {
height: 100%;
font-size: 16px;
color: #757575;
font-family: 'Poppins', sans-serif;
vertical-align: baseline;
line-height: 26px;
}
a:focus {
  outline: 0px solid;
}
img {
  max-width: 100%;
  height: auto;
}
p {
  margin: 0 0 20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
margin: 0 0 20px;
font-weight: 600;
font-family: 'Poppins', sans-serif;
color: #083180;
}

h1 {
font-size: 32px;
}
h2 {
font-size: 18px;
}
h3 {
font-size: 16px;
}

a {
  transition: all 0.5s ease-out;
  text-decoration: none;color:#083180
}
a:active,
a:hover {
  outline: 0 none;
  color: #083180;text-decoration:none
}
ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

::-moz-selection {
  background: #0cb1f6;
  text-shadow: none;color:#fff
}
::selection {
  background: #0cb1f6;
  text-shadow: none;color:#fff
}
textarea:focus, input:focus{
    outline: none;
}
.slider-overlay {
  background-color:rgba(0, 0, 0, 0.10);
  height: 100%;  width: 100%;
  position: absolute;
  top: 0;z-index:1
}
.images-overlay {
   background-color:rgba(0, 0, 0, 0.60);
  height: 100%;
  position: absolute;  width: 100%;
  top: 0;

}
.pt-100{padding-top:100px}
.pb-100{padding-bottom:100px}
.pb-70{padding-bottom:70px}
.bg-color{background:#fbfbfb}
.no-padding-left{padding-left:0px}
.no-padding-right{padding-right:0px}
.bg-gray{
	background:#f0f0f0
}
/*
1.Preloader
============================*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 9999999;
	right: 0;
    bottom: 0;
}
#preloader-status {
    height: 210px;
	width: 210px;
    background: url(../img/preloader.gif);
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
    position: absolute;
    left: 50%;
    top: 50%;	
}

/*
2.Scrollup
==============*/
#scrollUp {
	background: #083180 none repeat scroll 0 0;
	bottom: 5px;
	color: #fff;
	font-size:16px;
	height: 40px;
	right: 20px;
	text-align: center;
	text-decoration: none;
	width: 40px;
}
#scrollUp:hover {
  opacity: 1;
  color: #fff!important;background:#c9c00;
}
#scrollUp i {
display: block;
font-weight: bold;
padding-top: 11px;
}

/*
3.Header Section
==================*/
.header-top {
	background: #083180;
}
.header-left {
	padding: 10px 0;
}
.header-left ul {
	display: inline-block;
}
.header-left li{padding-right:30px;position:relative;display: inline-block;color: #d5d4d4;}
.header-left li:last-child{padding-right:0}
.header-left li i {
	color: #0cb1f6;
	margin-right: 10px;
}
.social-appoitment-button {
	text-align: right;
}
.header-right-div {
	display: inline-block;
}
.header-right {
	text-align: right;
	position: relative;
	z-index: 1;
	padding: 10px 0;
	display: inline-block;
	z-index:99
}
.header-right a {
	color: #ffffff;
	font-weight: 300;
	padding-left: 15px;
	text-transform: capitalize;
	position: relative;
	text-decoration: none;
}
.language.dropdown-menu a{
	color: #fff;
	font-size: 16px;
	width: 100%;
	display: inline-block;
	text-align: right;
	padding: 3px 10px;
}
.language.dropdown-menu {
	background: #0cb1f6;
	border-radius: 0;
	box-shadow: 0;
	border: 0;
	margin-top: 0;
	left: -100px;
	position: absolute;
	
}
.header-right a span {
	margin-left: 10px;
}
.soical-profile {
	padding-top: 7px;
}
.soical-profile,
.soical-profile li {
	display: inline-block;
}
.soical-profile li a i{
color:#d5d4d4;	width: 30px;
height: 30px;
text-align: center;
line-height: 30px;
}
.soical-profile li a i:hover {
	background: #0cb1f6;
	color: #fff;
}
/*
4.Menu  Section
=================*/
.logo {
	padding: 20px 0;
}
.menu {
  display: inline-block;
  width: 100%;
}
.main-menu {
	display: inline-block;
	text-align: right;
}

.main-menu ul {
margin : 0;
padding : 0;
position : relative;
}
.main-menu ul li {
display: inline-block;
padding: 0;
position: relative;
}
.main-menu ul li a {
	color: #083180;
	display: block;
	padding: 40px 12px;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.4s ease 0s;
	position: relative;
	font-weight: 600;
}
.main-menu ul li ul:hover .main-menu ul li a{
  background: #fafafa;
}
.main-menu ul li a:hover {
transition : all 0.4s 0s ease;
color:#0cb1f6
}

.main-menu ul ul {
background: #083180 none repeat scroll 0 0;
left: 0;
opacity: 0;
position: absolute;
text-align: left;
top:106px;
transition: all 0.4s ease 0s;
visibility: hidden;
z-index: 99999;
transition: all 0.3s ease 0s;
border-top:2px solid #0cb1f6;
}
.main-menu ul ul li {
float : none;
width : 220px;
}
.main-menu ul ul li a {
	line-height: 120%;
	padding: 10px 20px;
	color: #d5d4d4;
	text-transform: capitalize;
	border-bottom: 1px solid #193e84;
}
.main-menu ul ul li a:hover {
color:#0cb1f6;background:#fff;
}
.main-menu ul ul ul {
top : 0;
left : 100%;
}
.main-menu ul li:hover ul {
	
 visibility: visible;transition: all 0.4s ease 0s; opacity: 1;
}
.main-menu ul li a i {
margin-left : 6px;
}
.main-menu ul li.active{
	position:relative;
}
.main-menu ul li.active::before {
	position: absolute;
	content: "";
	background: #083180;
	width: 100%;
	height: 1px;
	top: 50%;
	left: 0;
	right: 0;
	text-align: center;
	margin: 0px auto;
	transform: translateY(-50%);
}
.menu-icon {
	display: inline-block;
	padding: 38px 0px;
	position: absolute;
	right: 0;
	top: 0;
}
.cart-icon, .site-search {
	display: inline-block;
	border: 1px solid #083180;
	width: 30px;
	height: 30px;
	text-align: center;
	border-radius: 100%;
}
.cart-icon a i{font-size:19px}
.site-search i {
  color: #083180;
  cursor: pointer;
}
.search-forum > form {
  display: inline-flex;
  background: #0cb1f6;
  padding: 10px;
}
.search-forum input[type=text] {
  padding: 10px;
}
.search-forum input[type="submit"] {
  padding: 10px;
  background: #083180;
  color: #fff;
}
.site-search:hover .search-forum {visibility:visible;transition: all 0.4s ease 0s;transform:scale(1);opacity:1;}
.search-forum {
display: inline-block;
left: -220px;
opacity: 0;
position: absolute;
top:107px;
transition: all 0.4s ease 0s;
visibility: hidden;z-index:2;transform:scale(0)
}
.hd-sec.sticky_menu {
  background-color: #fff;
  left: 0;
  right: 0;
  top: 0;  
  position: fixed;
  z-index: 9999;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
}
.appoitment-button {
	display: inline-block;
}
.appoitment-button a {
	background: #0cb1f6;
	padding: 12px 26px;
	display: inline-block;
	font-weight: 600;text-transform: capitalize;font-size: 15px;color:#fff;
}
.appoitment-button a:hover {
	color:#083180;
}
.call-us-button span{
	padding: 12px 26px;
	display: inline-block;
	font-weight: 600;
	text-transform: capitalize;
	font-size: 16px;
	margin-top: 4px;
	background: #fab90a;
	width: 100%;
	text-align: center;
	color: #222222;
	border-radius: 4px;
}
.search-button {
	padding-top: 28px;
}
.search-button form {
	display: inline-block;
	width: 100%;
	position: relative;
	overflow:hidden;
}
.search-button input[type="text"] {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #ddd;
	padding: 10px 35px 10px 10px;
	width: 100%;
}
.search-button button {
	color: #ddd;
	padding: 12px;
	position: absolute;
	right: 0;
	background: transparent;
	top: -2px;
	font-size: 22px;
}
/*
5.Slider Section
======================*/
.all-slide .owl-item {
  height: 750px;
}
.all-slide .single-slide {
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
height: 100%;
}
.slider-wrapper {
	width: 1170px;
	padding: 0px 15px;
	margin: 0px auto;
	height: 100%;
}
.slider-text {
left: 0;
position: relative;
right:0;
top: 50%;
transform: translateY(-50%);
z-index: 2;
margin: 0px auto;
text-align:left;

}
.slider-caption {
	width: 750px;
	text-align: left;
}
.slider-caption span.subtitle {
	color: #ffffff;
	font-size: 24px;
	text-transform: capitalize;
}
.slider-text ul {
  margin-top: 20px;
}
.slider-text h1 {
	color: #083180;
	font-size: 52px;
	text-transform: capitalize;
	line-height: 60px;
	margin-bottom: 10px;
	font-weight: bold;
}
.slider-text h1 > span{color:#0cb1f6;}

.slider-text li {
  display: inline-block;
}
.slider-text li a {
	background: #0cb1f6;
	color: #fff;
	display: inline-block;
	padding: 12px 30px;
	text-transform: capitalize;
	margin-right: 10px;
	z-index: 5;
	font-weight: 600;
	position: related;
	transition: all 0.4s ease 0s;
}
.slider-text li a:before{
content: "\f178";
font-family: fontawesome;
float:right;top:0px;
position: relative;color:#fff;padding-left:10px;transition: all 0.4s ease 0s;
}
.slider-text li a:hover{background:#0cb1f6;color:#fff;transition: all 0.4s ease 0s;border-color:#0cb1f6;}
.slider-text li:last-child a{background:#083180;color:#fff}
.slider-text li:last-child a:hover{background:#083180;color:#fff;transition: all 0.4s ease 0s;border-color:#083180;}
.all-slide .owl-controls {
position: absolute;
top: 45%;
width: 100%;
z-index: 99;
transform: translateY(-50%);
}
.all-slide .owl-controls .owl-buttons div {
background: none;
opacity: 1.00;
}

.all-slide .owl-controls .owl-prev {
  left:0px;
  position: absolute;transition: all 0.4s ease 0s;
}
.all-slide:hover .owl-prev{transition: all 0.4s ease 0s;}

.all-slide .owl-controls .owl-next {
  right: 0px;
  position: absolute;transition: all 0.4s ease 0s;
}
.all-slide:hover .owl-next{transition: all 0.4s ease 0s;}
.all-slide .owl-controls .owl-prev i, .all-slide .owl-controls .owl-next i {
	background: #fff;
	color: #083180;
	font-size: 32px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	transition: all 0.5s ease-out 0s;
	width: 60px;
	border: 1px solid #fff;
}
.all-slide .owl-controls .owl-next i:hover {
transition: all 0.5s ease-out 0s;background:#0cb1f6;color:#fff;border-color:#0cb1f6;
}
.all-slide .owl-controls .owl-prev i:hover {
transition: all 0.5s ease-out 0s;background:#0cb1f6;color:#fff;border-color:#0cb1f6;
}

.header-right span {
	color: #ffffff;
}
.header-right span i {
	margin-right: 10px;
}
.hd-search-field {
	position: absolute;
	right: 24px;
	top: 5px;
}
.hd-search-field form {
	width: 190px;
	position: relative;
}
.hd-search-field input[type="text"] {
	background: transparent;
	padding: 3px 35px 3px 10px;
	width: 100%;
	border: 1px solid #858484;
	border-radius: 6px;
}
.hd-search-field button {
	background: transparent;
	color: #fff;
	position: absolute;
	padding: 4px 10px;
	right: 0;
	top: 0;
}
.hd-search-field button i{color:#858484;}
.blog-sec .pagination.custom-pagination {
  text-align: left;
  width: 100%;
}
.pagination.custom-pagination li {
  display: inline-block;
}
.pagination.custom-pagination li a {
color: #999999;
font-size: 16px;
font-weight: 600;
height: 36px;
line-height: 22px;
margin: 2px 5px;
width: 36px;
border: none;border-radius:0%;text-align:center;
border:1px solid #fafafa
}
.pagination.custom-pagination li.active a {
  background: #0cb1f6 none repeat scroll 0 0;color:#fff;
  border:0px;;
}

.pagination.custom-pagination li a:hover{background:#0cb1f6 none repeat scroll 0 0;color:#fff;border-color:#0cb1f6}
.blog-sec a.blog-btn {
	color: #8d8d8d;
	font-weight: 600;
	text-transform: capitalize;
	font-size: 16px;
	display: inline-block;
	width: 150px;
	height: 50px;
	text-align: center;
	padding: 10px;
	border: 1px solid #fafafa;
}
.single-post:hover a.blog-btn {background:#0cb1f6;color:#fff;border-color:#0cb1f6}
/*
6.About Us Section
=================*/
.about-img img{width:100%;position:relative;}
.about-img::before {
	border: 10px solid rgba(0, 0, 0, 0.30);
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: 9;
}
.about-img {
	position: relative;
}
.about-desc h1 {
	font-size: 32px;
	line-height: 42px;
}
.about-desc h1 span{
	color: #0cb1f6;
}
.about-desc span.about-subtitle {
	color: #fff;
	text-transform: capitalize;
	background: #0cb1f6;
	padding: 4px 10px;
	display: inline-block;
	margin-bottom: 10px;
	font-size: 14px;
}
.about-desc a {
	background: #0cb1f6;
	padding: 12px 26px;
	display: inline-block;
	font-weight: 600;
	text-transform: capitalize;
	color: #fff;
	position:relative;
}
.about-desc a:before{
content: "\f178";
font-family: fontawesome;
float:right;top:0px;
position: relative;color:#fff;padding-left:10px;transition: all 0.4s ease 0s;
}
.about-sec{background:#fafafa}
.company-ceo-info h2 {
	font-size: 18px;
	text-transform: capitalize;
	font-weight: 600;
	margin-bottom: 10px;
}
.company-ceo-info span {
	text-transform: capitalize;
	font-weight: 600;
	margin-bottom: 20px;
	display: inline-block;
	width: 100%;
	font-size: 16px;
	color: #0cb1f6;
}
.company-mission {
	margin-top: 20px;
}
.company-mission h2 a {
	text-transform: capitalize;
	font-size: 28px;
	font-weight: 600;
	color: #083180;
}
.company-mission a {
	color: #0cb1f6;
	text-transform: capitalize;
	font-weight: bold;
}
.vedio-inner {
	position: relative;
	overflow: hidden;
}
.vedio-inner img{
	transform:scale(1);
	transition: all 0.9s ease 0s;
}
.vedio-inner:hover.vedio-inner img{
transform:scale(1.2);	
transition: all 0.9s ease 0s;
}
.vedio-overly {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	border: 20px solid rgba(0, 0, 0, 0.1);
}
.vedio-overly::before {
	position: absolute;
	top: 0;
	content: "";
	height: 100%;
	width: 100%;
	border: 10px solid rgba(221, 221, 221, 0.40);
}
.vedio-button {
	text-align: center;
	transform: translateY(-50%);
	top: 50%;
	position: relative;
}
.vedio-inner img {
	width: 100%;
}
.vedio-button {
  position: relative;
  width: 60px;
  height: 60px;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  background-color: transparent;
  background-image: url('../img/icon/play_button.png');
  background-size:cover;
  background-repeat: no-repeat;
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  margin:0px auto;
}
.vedio-button a {
	display: inline-block;
	width: 100%;
	height: 100%;
}
.vedio-button:hover 
{
  -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(255, 255, 255, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(255, 255, 255, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(255, 255, 255, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(255, 255, 255, 0);}}

/*
7.Gallery V1 Section
==========================*/
.gallery-v1-sec {
	background: #fbfbfb;
	padding-top: 100px;
	padding-bottom: 130px;
}
.single-gallery {
	position: relative;
	transition: all 0.4s ease 0s;
}
.single-gallery-overlay {
	width: 100%;
	position: absolute;
	transition: all 0.4s ease 0s;
	bottom: -80px;
}
.single-gallery img {
	width:100%;
	transition: all 0.4s ease 0s;
}
.single-gallery:hover.single-gallery {
	margin-top: -60px;
	transition: all 0.4s ease 0s;
}

.single-gallery-overlay h2 a{
	display: inline-block;
	width: 100%;
	padding: 20px 10px;
	text-align: center;
	background: #083180;
	color: #fff;
	text-transform: capitalize;
	margin-bottom:0px;
}
.all-gallery .owl-controls .owl-nav{
	position: absolute;
	top: 40%;
	width: 100%;
	z-index: 99;
	transform: translateY(-50%);
}
.all-gallery .owl-controls .owl-buttons div {
background: none;
opacity: 1.00;
}
.all-gallery .owl-controls .owl-dots {
	position: absolute;
	bottom: -60px;
	width: 100%;
}
.all-gallery .owl-controls .owl-prev {
  left:0px;
  position: absolute;transition: all 0.4s ease 0s;
}
.all-gallery .owl-controls .owl-next {
  right:0px;
  position: absolute;transition: all 0.4s ease 0s;
}
.all-gallery .owl-controls .owl-prev i, .all-gallery .owl-controls .owl-next i {
	background: #083180;
	color: #fff;
	font-size: 22px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	transition: all 0.5s ease-out 0s;
	width: 40px;
	font-weight: normal;
}
.all-gallery .owl-controls .owl-next i:hover {
transition: all 0.5s ease-out 0s;background:#0cb1f6;color:#fff;border-color:#0cb1f6;
}
.all-gallery .owl-controls .owl-prev i:hover {
transition: all 0.5s ease-out 0s;background:#0cb1f6;color:#fff;border-color:#0cb1f6;
}
.all-gallery .owl-controls{
	text-align:center;
}
.all-gallery.owl-theme .owl-dots .owl-dot {
border: 2px solid #ddd;
border-radius: 100%;
height: 16px;
margin: 5px;
width: 16px;display:inline-block;
background:#ddd
}
.all-gallery.owl-theme .owl-dots .owl-dot span {
border-radius: 100%;
display: inline-block;
height: 10px;
left: -2px;
margin: 3px;
position: relative;
top: -6px;
transition: all 0.9s ease 0s;
width: 10px;
}
.all-gallery.owl-carousel.owl-theme .owl-dot.active {
  background: #083180 none repeat scroll 0 0;border-color:#083180;
}
/*
8.Title Section
=================*/
.sec-title {
	text-align: center;
	margin: 0 150px 50px 150px;
}
.sec-title  h1 {
  font-size: 36px;
  text-transform: capitalize;
  color: #083180;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}
.sec-title h1 span {
  font-weight: normal;
}
.border-shape::before {
	background: #ddd none repeat scroll 0 0;
	bottom: 0;
	content: "";
	height: 1px;
	left: 0px;
	position: absolute;
	top: 3px;
	width: 90px;margin: 0px auto;
	left:0;right:0;
}
.border-shape {
background:#ddd;
display: block;
height: 1px;
left: 0;
margin: 20px auto;
position: relative;
right: 0;
text-align: center;
top: 0;
width: 350px;
}
.sec-title  p {
  margin-bottom: 0;
}

/*
9. About Service sec
============================*/
.service-tab li a {
	background: #083180;
	padding: 12px 16px;
	display: inline-block;
	font-weight: 600;
	text-transform: capitalize;
	color: #fff;
	position: relative;
	margin:6px 0px;
	transition:none;
}
.service-tab li.active a{
	background:#0cb1f6;text-decoration:none;transition:none;
}
.service-tab li.active a::before {border-top-color:#0cb1f6;}
.service-tab li a::before {
	position: absolute;
	top: 6px;
	right: -17px;
	content: '';
	z-index: 9;
	border-left: 38px solid transparent;
	border-top: 38px solid #083180;
	content: "";
	height: 0;
	position: absolute;
	width: 0;
	transform: rotate(46deg);

}
.service-tab li a i {
	margin-right: 10px;
}
/*
10.Service Section
============================*/

.service-item .inner {
	position: relative;
	margin-bottom: 35px;
	display: inline-block;
	text-align: center;
	padding: 40px 20px 40px 20px;
	background: #fff;
	border: 10px solid #ddd;
	transition: all 0.4s ease 0s;
}
.service-item .inner:hover{
	background:#083180;
	transition: all 0.4s ease 0s;
}
.service-item .inner:hover .service-content p {
	color:#fff;
	transition: all 0.4s ease 0s;
}
.service-item .inner:hover a.service-button{
	box-shadow:inherit;
	transition: all 0.4s ease 0s;
	background:#0cb1f6;
	color:#fff;
}

.service-content p {
	margin-bottom: 0;
	margin-top: 15px;
}
.service-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;visibility:hidden;background-color: rgba(0, 0, 0, 0.59);transition: all 0.4s ease 0s;
}
.service-item .inner h2 {
	text-transform: capitalize;
	font-size: 20px;
	margin-top: 0;
	position: relative;
	margin-bottom: 40px;
}
.service-item .inner:hover.inner h2:before {
	background:#fff;
}
.service-item .inner h2::before {
	position: absolute;
	content: "";
	width: 70px;
	height: 1px;
	background: #083180;
	text-align: center;
	left: 0;
	right: 0;
	bottom: -20px;
	margin: 0px auto;
}
.service-item .inner h2 a {
	color: #083180;
}
.service-item .inner:hover.inner h2 a {
	color:#fff;
}
.service-icon {
	width: 60px;
	height: 60px;
	margin: 0px auto;
	line-height: 54px;
	transition: all 0.4s ease-in-out 0s;
	margin-bottom: 20px;
}
.service-icon i{color:#fff;font-size:24px;}
a.service-button {
	border: 1px solid #083180;
	color: #083180;
	display: inline-block;
	padding: 12px 30px;
	text-transform: capitalize;
	margin-top: 30px;
	z-index: 5;
	font-weight: 600;
	position: related;
	transition: all 0.4s ease 0s;
}
#all-service .owl-controls {
	text-align: center;
	position: relative;
	top: 10px;
}
#all-service.owl-theme .owl-dots .owl-dot {
border: 2px solid #ddd;
border-radius: 100%;
height: 16px;
margin: 5px;
width: 16px;display:inline-block;
background:#ddd
}
#all-service.owl-theme .owl-dots .owl-dot span {
border-radius: 100%;
display: inline-block;
height: 10px;
left: -2px;
margin: 3px;
position: relative;
top: -6px;
transition: all 0.9s ease 0s;
width: 10px;
}
#all-service.owl-carousel.owl-theme .owl-dot.active {
  background: #083180 none repeat scroll 0 0;border-color:#083180;
}
/*
11.Pricing Package Section
============================*/
.pricing-sec .inner-item {
	padding: 0;
}
.pricing-sec .brder-btm{border-color:#fff}
.sngl-price {
text-align: center;
}
.price-box span {
  display: inline-block;
  width: 100%;
  color:#fff;
}
.price-box span.amount {
  font-weight: bold;
  font-size: 22px;
}
.price-box {
	background: #083180;
	padding: 20px 0;
	margin-top: 20px;
}
.price-heading > span {
  width: 100%;
  display: inline-block;
  color:#083180;
}
.price-box span.time {
font-size: 14px;
}
.sngl-price  h2 {
  color: #0cb1f6;
  font-size: 28px;
  text-transform: capitalize;
  font-weight: 800;
}
.price-heading {
	background: #fff none repeat scroll 0 0;
	border-bottom: 1px solid #f2f2f2;
	margin-bottom: 16px;
}
.price-heading.price-bg h2,
.price-heading.price-bg span{
  color: #fff;
  position: relative;
}
.price-heading h2 {
	color: #083180;
	display: inline-block;
	margin-bottom: 10px;
	width: 100%;
	margin-top: 20px;
}
.sngl-price {
	position: relative;
	box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
	background: #fff;
	margin-bottom: 35px;
}
.pakage-icon i {
background: #0cb1f6 none repeat scroll 0 0;
border-radius: 100%;
color: #fff;
font-size: 40px;
height: 80px;
line-height: 80px;
position: absolute;
top: -34px;
transform: translateX(-50%);
width: 80px;
}
.sngl-price  h1 {
color: #fff;
font-size: 28px;
font-weight: bold;
text-transform: capitalize;
margin-bottom:0px;
}
.sngl-price h1 span {
  font-size: 18px;
  color: #fff;
}
.sngl-price ul li{
display: inline-block;
padding: 10px 0;
width: 100%;
}
.sngl-price ul li:first-child{border-top:0px}
.snglPrice-lrnMore {
padding: 30px 0;
}
.btn.price_btn {
	background: #083180;
	border-radius: 0;
	font-size: 14px;
	padding: 10px 20px;
	text-transform: capitalize;
	position: relative;
	color: #fff;
}
.sngl-price:hover .price-heading{background: #0cb1f6;transition: all 0.4s ease-in-out 0s;}
.sngl-price:hover .btn.price_btn {
	background: #0cb1f6;
}
/*
12.Project Gallery Section
============================*/
.gallery-sec {
	background: #083180 none repeat scroll 0 0;
}
.gallery-sec .sec-title h1{
	color:#fff;
}
.gallery-sec .sec-title{
	color:#fff;
}
.gallery-sec .simplefilter li {
background:#fff;
color:#083180
}
.simplefilter {
	position: relative;
	text-align: center;
	margin-bottom: 40px;
	display: inline-block;
	width: 100%;
}
.shorttitle {
  display: none;
}
.simplefilter li {
	color: #fff;
	cursor: pointer;
	display: inline-block;
	padding: 10px 20px;
	font-size: 16px;
	text-transform: capitalize;
	background: #083180;
	margin: 0px 5px;
}
.simplefilter li:hover {
transition: all 0.5s ease-out 0s;background:#0cb1f6;color:#fff;
}
.simplefilter li.active {
    background: #0cb1f6;color:#fff;position:relative
}
.simplefilter li.active:hover{transition: all 0.5s ease-out 0s;background:#0cb1f6;color:#fff;}
.gallery-item {
	position: relative;
	overflow: hidden;
	margin-bottom: 30px;
}
.gallery-item:hover .gallery-button h2 a{
	top:0px;
	transition: all 0.4s ease 0s;
}
.gallery-button h2 a {
	color: #fff;
	text-transform: capitalize;
	font-size: 20px;
	top:-100px;
	position: relative;
	transition: all 0.4s ease 0s;
}
.gallery-button a i {
	color: #fff;
	font-size: 24px;
	width: 60px;
	height: 60px;
	border: 1px solid #fff;
	line-height: 60px;
}
.project-gallery .inner {
	width: 25%;
	display: inline-block;
	float: left;
}
.gallery-sec .gallery-item {
	margin-bottom:35px;
}
.gallery-sec .simplefilter li.active{color:#fff;background:#0cb1f6;}
.gallery-item:hover .project-project-gallery-overlay {
	visibility: visible;
	opacity: 1;
	transition: all 0.4s ease 0s;	
}
.gallery-item img{
	transform:scale(1);
	transition: all 0.4s ease 0s;
}
.gallery-item:hover.gallery-item img{
	transform:scale(1.3);
	transition: all 0.4s ease 0s;
}
.gallery-item:hover .gallery-button a i{
bottom:0px;
transition: all 0.4s ease 0s;
}
.project-project-gallery-overlay {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(8, 49, 128, 0.8);
	left: -100%;
	visibility: hidden;
	opacity: 0;
	transition: all 0.4s ease 0s;
}
.gallery-item:hover .project-project-gallery-overlay {
	left:0%;
}
.project-gallery-overlay-text {
	text-align: center;
}
.project-gallery-overlay-text {
	transform: translateY(-50%);
	top: 50%;
	position: relative;
}
.project-gallery-overlay-text .gallery-button a i {
	color: #fff;
	font-size: 20px;
	width: 50px;
	height: 50px;
	border: 1px solid #fff;
	line-height: 50px;
	bottom: -140px;
	position: relative;
	transition: all 0.4s ease 0s;
}
.project-gallery-overlay-text .gallery-button a i:hover{background:#083180;color:#fff;border-color:#083180;transition: all 0.4s ease 0s;}
.nav-page {
	text-align: center;
	margin-top: 20px;
}
.nav-page ul li {
	display: inline-block;
}
.nav-page ul li a:hover{color: #ffc300;}
.nav-page li.active a {
	color: #ffc300;
}
/*
13. Project Details Page Section
=================================*/
.details-text img{margin-bottom:20px;}
.details-text h2 a,
.project-details-info h2 {
	color: #083180;
	font-size: 24px;
	text-transform: capitalize;
}
.details-text h2,
.related-project h2 {
	font-size: 22px;
	text-transform: capitalize;
}
.project-details-info ul li {
	display: inline-block;
	width: 100%;
	text-transform: capitalize;
	padding: 6px 0;
}
.project-details-info ul li span{float:right}
.service-details-img img {
	width: 100%;
}
.details-text h2,
.related-project h2 {
	font-size: 22px;
	text-transform: capitalize;
}
.project-details-info ul li {
	display: inline-block;
	width: 100%;
	text-transform: capitalize;
	padding: 6px 0;
	border-bottom: 1px solid #ddd;
}
.project-details-info ul li span{float:right}
.project-feedback .owl-item img {
	width: auto;
	height: auto;
}
.project-feedbac-inner {
	text-align: center;
	border: 1px solid #083180;
	margin-top: 40px;
	padding: 30px 20px;
	margin-bottom:40px;
}
.feedback-owner-img {
	text-align: center;
	margin: 0px auto;
	display: inline-block;
	border-radius: 100%;
	border: 4px solid #ddd;
	padding: 5px;
	overflow: hidden;
}
.feedback-author-info h2 {
	font-size: 22px;
	margin-bottom: 5px;
}
.feedback-owner-img {
	text-align: center;
	margin: 0px auto;
	display: inline-block;
}

/*
14.Service Details Section
============================*/
.service-details h2 a,
.service-details-text h2,
.contact-field.service-details h2,
.brochures h2 {
	color: #083180;
	font-size: 24px;
	font-weight: 600;
	text-transform: capitalize;
}
.service-details-text {
	margin-top: 40px;
	margin-bottom: 40px;
}
.service-details ul li {
	display: inline-block;
	width: 100%;
	margin-top: 5px;
	position:relative;
	
}
.service-details ul li:before{
	content: "\f101";
	font-family: fontawesome;
	left: 0px;
	top: 0px;
	position: relative;
	color: #fff;
	padding-right: 10px;
}
.appoitment-sec {
	margin-top: 25px;
}
.brochures li:first-child::before {
content: "\f1c1";
font-family: fontawesome;
left:0px;top:0px;
position: relative;color:#fff; padding-right: 10px;
}
.brochures li:last-child::before {
content: "\f0f6";
font-family: fontawesome;
left:0px;top:0px;
position: relative;color:#fff; padding-right: 10px;
}
.brochures li {
	display: inline-block;
	width: 100%;
	padding: 10px 20px;
	position: relative;
 background:#0cb1f6;
 margin-bottom:5px;
}
.brochures li a {
  color: #fff;
  font-weight: 600;
  font-size: 14px;
}
.brochures li:hover{background:#0cb1f6}
.brochures li:hover a{color:#fff}
.brochures li:hover::before{color:#fff}
.brochures li:hover i{color:#fff}


.brochures li a span {
  float: right;
  color: #fff;
}
/*
15.Count Up Section 
============================*/
.count-up-sec {
background: #083180 none repeat scroll 0 0;
padding: 76px 0;
position: relative;
}
.count-up-sec-overlay{background-color: rgba(7, 41, 72, 0.95);
height: 100%;
left: 0;
position: absolute;
right: 0;
top: 0;
width: 100%;}
.count-up-sec .counting_sl {
	text-align: center;
	margin-bottom: 0;
}
.counting_sl {
	margin-bottom: 50px;
}
.countup-inner:nth-child(2n+1) {
	clear: both;
}
.countup-icon {
  display: inline-block;
  height: 70px;
  margin-bottom: 16px;
  text-align: center;
  width: 70px;
}
.counting_sl h2 {
	color: #0cb1f6;
	font-size: 38px;
	text-transform: capitalize;
	margin-bottom: 16px;
}
.counting_sl h4 {
	color: #fff;
	font-size: 22px;
	margin-bottom: 0;
	text-transform: capitalize;font-weight:400;
	
}
/*
16.Free Consult Section
=========================*/
.faq-free-consult-sec {
	overflow: hidden;
	position:relative;
}
.faq-free-consult-sec::before {
	position: absolute;
	content: "";
	background: #083180;
	width: 5000px;
	height: 100%;
	top: 0;
	left: 0;
	z-index:-2
}
.about-us-contact {
	position: relative;
	background: #fff;
}

.about-us-contact .contact-field {
	border: 1px solid #ddd;
	padding: 35px;
}
.about-us-contact-title{position:relative}
.contact-title-border {
	width: 1px;
	height: 10px;
	display: inline-block;
	background: #fff;
	text-align: center;
	margin: 0px auto;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 10px;
}
.about-us-contact .contact-field input,
.about-us-contact .single-input-field textarea{border-color:#ddd;}
.about-us-contact-title h1 {
	display: inline-block;
	width: 100%;
	background: #0cb1f6;
	color: #ffffff;
	text-align: center;
	padding: 50px 0;
	margin-bottom: 0;font-weight:bold;font-size:30px;position:relative;margin-bottom: -1px;
}
.about-us-contact .contact-field input[type="submit"] {
	background: #0cb1f6 none repeat scroll 0 0;
	border: 1px solid #0cb1f6;
	border-radius: 100px;
}

.faq-sec .sec-title {
text-align:left;
margin-bottom:30px;
margin:0
}

.faq-sec .panel-title {
	font-size: 20px;
	text-transform: capitalize;
	font-weight: 600px;
}
.faq-sec .panel-content {
	padding: 0px 20px 20px 20px;
	color: #777777;
}
.faq-img {
display: inline-block;
width: 100%;
}
.faq-img img {
  width: 100%;
}
.faq-sec .panel-heading {
	margin-bottom: 0px;
	padding: 16px 20px;
	border-radius: 0;
	margin-bottom: 10px;
	background: #083180;
}
.faq-sec .panel {
 border: none;
	border-radius: 0;
	-webkit-box-shadow: 0;
	 box-shadow: 0 1px 1px rgba(0,0,0,.0);
}
.faq-sec .panel-heading a {
color: #fff;
display: inline-block;
font-size: 18px;
width: 100%;
font-weight:600
}
.faq-sec .panel-title a:before {
    float:right !important;
    font-family: FontAwesome;
    content:"\f106";
   color:#fff
}
.faq-sec .panel-title a.collapsed:before {
    float: right !important;
    content:"\f107";color:#fff;
}
.faq-sec .panel-title > a:hover, 
.faq-sec .panel-title > a:active, 
.faq-sec .panel-title > a:focus  {
    text-decoration:none;color:#fff;
}

/*
17.Faq Section
==================*/
h1.faq-style1-title {
	font-size: 36px;
	text-transform: capitalize;
	font-weight: bold;
	color: #f4f4f4;
	line-height: 40px;
	margin-bottom: 50px;
}
.faq-style1-sec .panel {
  background: transparent;
}
.faq-style1-sec .panel-content {
	padding-bottom: 20px;
	color: #999;
}

.faq-style1-sec .panel-heading {
margin-bottom:15px;
padding: 0;
}
.faq-style1-sec .panel {
	border: none;
	border-radius: 0;
	-webkit-box-shadow: 0;
	box-shadow: 0 1px 1px rgba(0,0,0,.0);
	padding-bottom: 15px !important;
	transition: all 0.4s ease 0s;
}
.faq-style1-sec .panel-heading a {
color: #f2f2f2;
display: inline-block;
font-size: 20px;
width: 100%;
font-weight:600;
font-family: 'Poppins', sans-serif;
}
.faq-style1-sec .panel-title > a:hover, 
.faq-sec .panel-title > a:active, 
.faq-style1-style1-sec .panel-title > a:focus  {
    text-decoration:none;color:#0cb1f6;
}

/*
18.Blog Section
==================*/

.blog-page-sec .blog-text{
	padding:30px 0px; 
}
.blog-details-sec .single-post,
.blog-page-sec .single-post{
	border:0px;
	box-shadow:inherit;
}
.post-date {
	display: inline-block;
	width: 80px;
	height: 80px;
	position: absolute;
	bottom: 10px;
	left: -100%;
	background: #0cb1f6;
	transition: all 0.5s ease-out;
}
.single-post:hover .post-date {
	left:20px;
	transition: all 0.5s ease-out;	
}
.post-date-middle {
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
}
.post-date span {
	width: 100%;
	display: inline-block;
	text-align: center;
	color: #fff;
	font-size: 18px;
	font-weight: 600;
}
.single-post {
	margin-bottom: 35px;
	box-shadow: 0 0 10px 1px #f2f2f2;
	display: inline-block;
	width: 100%;
	border: 1px solid #f2f2f2;
}
.single-post-thumb {
	overflow: hidden;
	position: relative;
}
.single-post-thumb img {
	transform: scale(1);
	transition: all 0.5s ease-out;
}
.single-post:hover .single-post-thumb img{
	transform: scale(1.3);
	transition: all 0.5s ease-out;	
}
.blog-text {
	padding: 30px 20px;
}
.blog-text p {
	margin-bottom: 0;
}
.post-info {
	margin-bottom: 20px;
}
.post-info h2 {
	margin-bottom: 5px;
	line-height: 34px;
}
.post-info h2 a {
	text-transform: capitalize;
	font-size: 22px;
}
.post-meta ul li {
	display: inline-block;
	margin-right: 10px;
	position:relative;
}
.post-meta ul li:last-child{margin-right:0px;}
.post-meta ul li::before {
	content: "|";
	position: absolute;
	color: #0cb1f6;
	right: -10px;
}
.post-meta ul li:last-child:before {
	display:none;
}
.post-meta li a {
	color: #777777;
	text-transform: capitalize;
}
.post-meta li a {
	color: #0cb1f6;
	text-transform: capitalize;
	font-weight: 600;
}
a.blog-readmore {
	position: relative;
	display: inline-block;
	margin-top: 20px;
	font-weight: 600;
	color: #fff;
	background: #083180;
	padding: 10px 20px;
}
.single-post:hover a.blog-readmore {
	background:#0cb1f6;
}
.post-share {
	display: inline-block;
	width: 100%;
	border-top: 1px solid #d6d7d9;
	border-bottom: 1px solid #d6d7d9;
	padding: 10px 0;
}
.tag-title,
.social-title {
	float: left;
	display: inline-block;
	color: #323232;
	font-size: 18px;
	text-transform: capitalize;
	margin-right: 10px;
	font-weight:600
}
.share-link {
	float: right;
}
.post-tag,
.post-tag ul,
.share-link,
.share-link ul,
.share-link li{
	display: inline-block;
}
.post-tag li {
	display: inline-block;
}
.share-link li a{
	color:#898989;
	margin-left:10px;
}
.post-tag li a {
	color: #898989;
	text-transform: capitalize;
}
.single-post-thumb.blog-details {
	margin-bottom: 30px;
}
/*latest news*/
.latest-news-thumb {
	display: inline-block;
	float: left;
}
.latest-news-desc {
	padding-left: 85px;
}
.latest-news-desc h3{
	margin-bottom:10px;
}
.latest-news-desc h3 a {
	color: #efeeee;
	font-weight: normal;
	line-height: 26px;
}
.latest-news-desc h3 a:hover{
	color:#0cb1f6;
}
.latest-news-desc li {
	display: inline-block;
	text-transform: capitalize;
}
.latest-news-desc li span {
	margin-right: 6px;
	color: #fff;
}
.latest-news-desc li a {
	color: #0cb1f6;
	text-transform: capitalize;
}
.latest-news-desc li:last-child{
	float:right;
}
.latest-news-inner {
	display: inline-block;
	width: 100%;
	margin-bottom: 50px;
}
.latest-news-inner:last-child{
	margin-bottom:0px;
}
.post-share {
	display: inline-block;
	width: 100%;
	border-top: 1px solid #d6d7d9;
	border-bottom: 1px solid #d6d7d9;
	padding: 10px 0;
}
.blog-details-sec .blog-text {
	padding: 30px 0px;
}
.tag-title,
.social-title {
	float: left;
	display: inline-block;
	color: #083180;
	font-size: 18px;
	text-transform: capitalize;
	margin-right: 10px;
	font-weight:600
}
.share-link {
	float: right;
}
.post-tag,
.post-tag ul,
.share-link,
.share-link ul,
.share-link li{
	display: inline-block;
}
.post-tag li {
	display: inline-block;
}
.share-link li a{
	color:#898989;
	margin-left:10px;
}
.share-link li a:hover{color:#0cb1f6;}
.post-tag li a {
	color: #898989;
	text-transform: capitalize;
}
.post-tag li a:hover{color:#0cb1f6;text-decoration:underline;}
/*commentar css*/
.commentar-sec img {
	float: left;
	margin-right: 20px;
	width: 100px;
	border-radius: 100%;
	height: 100px;
}
.comment-author {
	margin-bottom: 10px;
	font-size: 18px;
	text-transform: capitalize;
	font-weight: 600;
}
.comment-author-designation {
	font-size: 16px;
	color: #0cb1f6;
	text-transform: capitalize;
	font-weight: 600;
	margin-bottom: 20px;
	display: inline-block;
	width: 100%;
}
.comment-time {
	font-size: 16px;
	font-weight: normal;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
}
.commentar-sec .media.mt-3 {
  margin-top: 40px;
}
.single-post .contact-field h2 {
	font-size: 32px;
	margin-bottom: 20px;
	margin-top: 40px;
	text-transform: capitalize;
	font-weight: bold;
}
.commentar-sec h2 {
	margin-top: 50px;
	font-weight: 600;
	text-transform: capitalize;
	margin-bottom: 50px;
	font-size: 20px;
}
.replay-button {
	display: inline-block;
	text-align: right;
	float: right;
}
.replay-button a {
	font-weight: 600;
	text-transform: capitalize;
}
.commentar-sec .media-body p a {
	color: #7e7e7f;
	font-weight: 600;
	font-size: 15px;
}
.commentar-sec.author ul li {
  display: inline-block;
  margin-right: 20px;
}
.commentar-sec.author {
  position: relative;
}
.commentar-sec.author ul li a i{color:#cbc8c8}
.commentar-sec.author ul li a i:hover{transition: all 0.4s ease 0s;color:#29ace4}
.commentar-sec.author .media-body {
  padding-left: 100px;
}
.commentar-sec.author .media {
background: #fafafa none repeat scroll 0 0;
border-radius: 30px;
padding: 30px 0;
margin-left: 20px;
}
.author-thumb {
border-radius: 100%;
float: left;
height: 100px;
left: 0;
overflow: hidden;
position: absolute;
top: 70px;
width: 100px;
}
.author-thumb img {
  height: 100%;
  width: 100%;
}
.pagination.custom-pagination {
	width: 100%;
	margin-top: 0;
}
.pagination.custom-pagination li {
	display: inline-block;
}
.pagination.custom-pagination li.active a {
	background: #0cb1f6 none repeat scroll 0 0;
	color: #fff;
	border: 0px;
}
.pagination.custom-pagination li a {
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	height: 36px;
	line-height: 22px;
	margin: 0;
	width: 36px;
	border: none;
	border-radius: 0%;
	text-align: center;
	border: 1px solid #083180;
	background: #083180;
}
/*
19.Sidebar Section
=====================*/
.sidebar {
	display: inline-block;
	width: 100%;
	margin-bottom: 35px;
}
.sidebar h1 {
	display: inline-block;
	font-size: 20px;
	margin-top: 70px;
	text-transform: capitalize;
	width: 100%;
	position: relative;
	padding-bottom: 10px;
	font-weight: bold;
	margin-bottom: 40px;
}
.sidebar h1::before {
	background: #083180 none repeat scroll 0 0;
	bottom: 0;
	content: "";
	height: 2px;
	position: absolute;
	width: 60px;
	left: 0;
}
.search-field form {
display: inline-block;
width: 100%;
position: relative;
}
.search-field input[type="text"] {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #ddd;
	padding: 10px 35px 10px 15px;
	width: 100%;
}
.search-field button {
	color: #fff;
	padding: 11px;
	position: absolute;
	right: 0;
	background: #083180;
	top: 0;
	transition: all 0.4s ease 0s;
}
.search-field button:hover{
	background:#0cb1f6;
	transition: all 0.4s ease 0s;
}
.blog-sec .inner:nth-child(2n+1) {
  clear: both;
}
.abt_dec > p {
  margin-top: 20px;
}
.sidebar ul li a {
	font-size: 16px;
	font-weight: normal;
	text-transform: capitalize;
	transition: all 0.4s ease-in-out 0s;
	color: #808080;
}
.sidebar ul li a:hover{transition: all 0.4s ease-in-out 0s;color:#083180}
.widget-archive li{position:relative}
.widget-archive li:last-child {
  border-bottom: none;
}
.widget-cat li:last-child {
  border-bottom: none;
}
.widget-cat li{position:relative}

.widget-cat li {
  padding: 10px 0;
  border-bottom: 1px solid #ececec;
}
.widget-tag li a{
	border:1px solid #ddd;
}
.widget-tag li a:hover{transition: all 0.4s ease-in-out 0s;color:#083180!important}
.relative-post h3 {
	font-size: 16px;
	margin-bottom: 10px;
	font-weight: bold;
	color: #777777;
}
.single_r_dec li {
	display: inline-block;
	margin-right: 10px;
}
.single_r_dec li a{font-weight:600;text-transform:capitalize}
.single_r_dec li a i{color:#083180;margin-right:5px}
.relative-post {
display: inline-block;
padding: 12px 0;
width: 100%;
}
.relative-post-thumb {
  float: left;
  margin-right: 15px;
}
.single_r_dec  a {
color: #083180;
line-height: 20px;
}
.single_r_dec  a:hover{ transition: all 0.4s ease-in-out 0s;color:#083180}
.all_r_pst .media {
  margin-top: 0;
}

.widget-archive li {
	display: inline-block;
	position: relative;
	width: 100%;
	border-top: 1px solid #f0f0f0;
	padding: 10px 0;
}
.widget-archive li:last-child{border-bottom: 1px solid #f0f0f0;}
.widget-archive span {
  float: right;
}
.widget-tag a {
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-right: 10px;
	display: inline-block;
	padding: 10px;
	border: 1px solid #f9f9f9;
}

.author_dec h3 {
margin : 0;
color : #333333;
font-size : 14px;
margin-bottom : 11px;
}
.author_info {
border-bottom : 1px solid #e3e3e3;
display : inline-block;
padding : 22px 0;
margin-bottom : 30px;
}
.author_info > img {
  float: left;
  margin-right: 35px;
  height: 80px;
}
.social_link {
margin : 0;
padding : 0;
float : right;
display : inline-flex;
}
.social_link li {
list-style : none;
}
.social_link li a i {
color : #363636;
float : left;
padding : 6px;
}
.donor-testimonial-widget.no-margin {
	margin-bottom: 0;
}
.brochures li:first-child::before {
content: "\f1c1";
font-family: fontawesome;
left:0px;top:0px;
position: relative;color:#fff; padding-right: 10px;
}
.brochures li:last-child::before {
content: "\f0f6";
font-family: fontawesome;
left:0px;top:0px;
position: relative;color:#fff; padding-right: 10px;
}
.brochures li {
	display: inline-block;
	width: 100%;
	padding: 10px 20px;
	position: relative;
 background:#083180;
 margin-bottom:5px;
}
.brochures li a {
  color: #fff;
  font-weight: 600;
  font-size: 14px;
}
.brochures li:hover{background:#0cb1f6}
.brochures li:hover a{color:#fff}
.brochures li:hover::before{color:#fff}
.brochures li:hover i{color:#fff}
.project-sidebar {
	margin-bottom: 35px;
}

.brochures li a span {
  float: right;
  color: #fff;
}
/*
20.Testimonial Section
=========================*/
.testimonial-sec{
	background:#fbfbfb;
}
.all-testimonial.owl-carousel .owl-item img {
border-radius: 100%;
}
.all-testimonial .owl-controls {
	position: relative;
	text-align: center;
	width: 100%;
	bottom: -10px;
}
.all-testimonial .owl-controls .owl-buttons div {
  background: none;
opacity:1
}
.client-info {
	display: inline-block;
	text-align: center;
	margin: 0px auto;
	width: 100%;
}
.client-thumb {
	border-radius: 100%;
	height: 60px;
	margin-right: 20px;
	width: 60px;
	float: left;
}
.sngl-client {
border: 1px solid #fafafa;
margin-bottom: 30px;
text-align: center;
margin: 5px;
}
.single-testimonial {
display: inline-block;
margin-bottom: 30px;
padding: 0 10px;
width: 100%;
}
.clinet-inner {
	padding: 18px 16px;
	background: #0cb1f6;
}
.client-info h2 {
	color: #292929;
	font-size: 18px;
	margin-bottom: 5px;
	text-transform: capitalize;
	font-weight: 600;
}
.client-info span {
	color: #fff;
	font-size: 14px;
	display: inline-block;
	text-transform: capitalize;
}
.client-comment span::before {
  height: 1px;
  background: #4cc700;
  width: 40px;
  content: "";
  position: absolute;
  bottom: 0;
}

.client-comment  h3 {
color: #4cc700;
margin-bottom: 20px;
text-transform: capitalize;
font-weight: normal;
font-style: italic;
}
.client-comment {
	background: #083180 none repeat scroll 0 0;
	margin-top: 30px;
	padding: 40px 20px 20px 20px;
	position: relative;
	font-style: italic;
	color: #fff;
}
.client-comment::before {
	color: #fff;
	content: "\f10d";
	font-family: fontawesome;
	font-size: 25px;
	position: absolute;
	top: 0;
	transform: translateY(-50%);
	left: 20px;
	right: 0;
	font-style: normal;
	width: 60px;
	height: 60px;
	background: #0cb1f6;
	border-radius: 100%;
	text-align: center;
	line-height: 60px;
	margin: 0px auto;
}
.client-reviews i {
  color: #4bc700;
  font-size: 13px;
}
.client-comment > ul {
  padding-bottom: 15px;
}
.client-comment li {
  display: inline-block;
}
.client-comment li a{
border: 2px solid #4cc700;
border-radius: 100%;
color: #4cc700;
display: inline-block;
height: 30px;
line-height: 26px;
width: 30px;
margin: 0px 5px;
}
.client-comment li a:hover{background:#4cc700;transition: all 0.4s ease-in-out 0s;color:#fff}
.client-sec .owl-controls {
  display: none;
}

.all-testimonial.owl-theme .owl-dots .owl-dot {
border: 2px solid #9e9e9e;
border-radius: 100%;
height: 16px;
margin: 5px;
width: 16px;display:inline-block
}
.all-testimonial.owl-theme .owl-dots .owl-dot span {
border-radius: 100%;
display: inline-block;
height: 10px;
left: -2px;
margin: 3px;
position: relative;
top: -6px;
transition: all 0.9s ease 0s;
width: 10px;
}
.all-testimonial.owl-carousel.owl-theme .owl-dot.active {
  background: #083180 none repeat scroll 0 0;border-color:#083180;
}
/*
21.Page Heading Section
==========================*/
.pagehding-sec {
	background-image: url("../img/page_hd.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	padding-bottom: 50px;
	padding-top: 60px;
	position: relative;
	background-size: cover;
}
.page-heading h1 {
	font-size: 40px;
	text-align: left;
	text-transform: capitalize;
	font-weight: bold;
	color:#fff;
}
.breadcrumb-list {
	text-align: left;
}
.breadcrumb-list li:first-child{
	padding-left:0px;
}
.breadcrumb-list li {display: inline-block;
position: relative;
padding: 0px 14px;}
.breadcrumb-list li a {
	font-weight: 600;
	text-transform: capitalize;
	color: #fff;
}
.breadcrumb-list li:last-child a {
  color: #0cb1f6;
}
.breadcrumb-list li::before {
	content: ">>";
	position: absolute;
	right: -8px;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
}
.breadcrumb-list li:last-child::before{display:none}
.breadcrumb-list li:last-child::before {
  display: none;
}
/*
22.Team section
=================*/
.team-member {
	border: 10px solid #f2f2f2;
	margin-bottom: 35px;
	transition: all 0.4s ease 0s;
}
.team-member:hover{
	border-color:#0cb1f6;
	transition: all 0.4s ease 0s;
}
.team-member:hover .team-overlay h2{
	background:#0cb1f6;
	transition: all 0.4s ease 0s;
}
.team-thumb {
	position: relative;
}
.team-overlay {
	position: absolute;
	bottom: 0;
	left: -10px;
}
.team-overlay h2 {
	font-size: 18px;
	text-transform: capitalize;
	color: #fff;
	background: #083180;
	padding: 10px 20px;
	border-radius: 0 50px 50px 0;
	display: inline-block;
	transition: all 0.4s ease 0s;
}
.team-social li {
	display: inline-block;
}
.team-social li a {
	color: #888;
	border: 1px solid #ddd;
	width: 30px;
	height: 30px;
	display: inline-block;
	text-align: center;
	line-height: 30px;
}
.team-social li a:hover{
	color:#fff;
	background:#083180;
	border-color:#083180;
}
.team-desc {
	padding: 30px 10px;
}
.team-desc h1 {
	font-size: 22px;
}
/*
23.Faq Page
================*/
.faq-sec {
	margin-bottom: 35px;
}
.faq-id {
	display: inline-block;
	float: left;
	width: 60px;
	margin-top: 7px;
}
.faq-id span {
	color: #0cb1f6;
	font-size: 36px;
	font-family: 'Poppins', sans-serif;
	font-weight:700
}
.faq-title h2 {
	color: #083180;
	font-size: 20px;
	line-height: 30px;
}
.single-faq {
	margin-bottom: 35px;
}
/*
24.Contact Page
============================*/
.contact-page-sidebar {
	margin-bottom: 35px;
}
.contact-page-sec .contact-field {
	margin-bottom: 35px;
}
.contact-info-icon {
	float: left;
	text-align: center;
}
.contact-page-sec .contact-field h2 {
	color: #083180;
	text-transform: capitalize;
	font-size: 22px;
	font-weight: 700;
}
.contact-field.contact-form input {
  margin-bottom: 5px;
}  
.contact-field.contact-form textarea {
  height: 110px;
}
.contact-field.contact-form input[type="submit"] {
  background: #0cb1f6;
  width: 150px;
  border-color: #0cb1f6;
}
.contact-info-icon {
	float: left;
	text-align: center;
	width: 40px;
	height: 40px;
	background: #083180;
	display: inline-block;
	line-height: 40px;
}
.contact-info-icon i {
	color: #fff;
}
.contact-info-text {
	padding-left: 60px;
	margin-bottom: 40px;
}
.contact-info-text h2 {
	color: #083180;
	font-size: 20px;
	text-transform: capitalize;
	font-weight: 700;
	margin-bottom: 5px;
}
.contact-info-text span {
	color: #999999;
	font-size: 16px;
	font-weight: ;
	display: inline-block;
	width: 100%;
}

.contact-field input{
  background: #fff none repeat scroll 0 0;
  border: 1px solid #f0f0f0;
  padding: 10px;
  width: 100%;color:#999999;
}
.contact-field select {
	width: 100%;
	border: 1px solid #f0f0f0;
	padding: 12px 20px;
	margin-bottom: 20px;
	text-transform: capitalize;
	color: #999999;
}
.contact-field .select-arrow::before {
	top: 15px;
	color: #999999;
}
.contact-field .message-input {
display: inline-block;
width: 100%;
}
.single-input-field textarea {
	border: 1px solid #f0f0f0;
	width: 100%;
	height: 120px;
	padding: 10px;
}
.single-input-fieldsbtn input[type="submit"] {
	background: #083180 none repeat scroll 0 0;
	border: 1px solid #083180;
	color: #fff;
	display: inline-block;
	font-weight: 600;
	padding: 12px 0;
	text-transform: capitalize;
	width: 150px;
	margin-top: 20px;
	font-size: 16px;
	border-radius:0px;
}
.single-input-field {
	margin-bottom: 20px;
}
.single-input-fieldsbtn input[type="submit"]:hover{background:#0cb1f6;transition: all 0.4s ease-in-out 0s;border-color:#0cb1f6}
.contact-field {
  display: inline-block;width:100%
}
.single-input-field  h4 {
  color: #464646;
  text-transform: capitalize;
  font-size: 14px;
}
.contact-page-form {
	display: inline-block;
	width: 100%;
	margin-top: 30px;
}

.contact-page-map{width:100%;height:350px;margin-bottom:70px}


/*
25.Call To Action Section
============================*/
.footer-call-to-action {
	position: absolute;
	top: -80px;
	width: 100%;
	z-index: 999;
}
.call-to-action-sec {
	background-color: #fff;
	background-image: url("../img/call_to_action_bg.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	display: inline-block;
	width: 100%;
	padding: 100px 0;
}
.call-to-action-overlay {
  background-color:rgba(8, 49, 128, 0.85);
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
.message-title {
	color: #fff;
	text-transform: capitalize;
	font-size: 28px;
	font-weight: 600;
	line-height: 44px;
}
.message-subtitle {
	font-size: 18px;
	color: #fff;
	margin-bottom: 0;
	font-weight: normal;
	margin-bottom: 40px;
	display: inline-block;
	line-height: 32px;
}
.call-us-now {
	font-size: 24px;
	color: #fdc900;
	top: 6px;
	position: relative;
}
.call-to-action-text {
  color: #fff;
    text-align: left;
}
.call-to-action-text p {
  margin-bottom: 0;
}

.call-to-action-text a.btn {
	background: #0cb1f6 none repeat scroll 0 0;
	border-radius: 0;
	color: #fff;
	margin-right: 10px;
	font-weight: bold;
	padding: 14px 36px;
	text-transform: capitalize;
}
.call-to-action-text a.btn:hover{background: #fff;transition: all 0.4s ease-in-out 0s;color:#0cb1f6;}

/*
26.404 Page Section 
======================*/
.error-page-content {
  text-align: center;
  padding: 0px 50px;
}
.error-page-content  h1 {
  color: #083180;
  font-weight: bold;
  font-size: 60px;
  text-align:center;
}
.error-page-content  h2{text-transform:capitalize;}
.error-page-content > a {
	color: #083180;
	font-weight: 600;
	display: inline-block;
	margin-top: 20px;
	text-decoration: underline;
}
.error-page-content ul li {
	display: inline-block;
	width: 100%;
	padding: 4px 0;
	position:relative;
}
/*
27.Footer Section 
======================*/
footer.footer{
background: #112751 none repeat scroll 0 0;	
}
.footer-sec {
	padding-top: 100px;
	position: relative;
	padding-bottom: 100px;
}
.footer-sec h2 {
	margin-bottom: 20px;
	position: relative;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
}
.footer-wedget-one img {
	margin-bottom: 20px;
	margin-top: 0;
}
.footer-wedget-one i:hover{background:#0cb1f6;color:#fff;border-color:#0cb1f6; transition: all 0.4s ease-in-out 0s;}
.footer-wedget-one ul {
  margin-top: 15px;
}
.footer-wedget-one form {
  background: #525459 none repeat scroll 0 0;
  margin-top: 35px;position:relative
}
.footer-wedget-one input[type="email"] {
background: #fff none repeat scroll 0 0;
border: 1px solid #fff;
color: #292929;
padding: 10px 58px 10px 10px;
text-transform: capitalize;
width: 100%;
}
.footer-wedget-one button {
background: #0cb1f6 none repeat scroll 0 0;
color: #fff;
padding: 11px 20px;
position: absolute;
right: 0;top:0;
transition: all 0.4s ease 0s;
}
.footer-wedget-one button:hover{
	background:#083180;
	transition: all 0.4s ease 0s;
}
.footer-wedget-one button i {
  border: none;
  margin-right: 0;
  color: #fff;
}
.footer-recent-inner {
	margin-bottom: 30px;
}
.footer-recent-inner:last-child{margin-bottom:0}
.footer-recent-inner span i {
	color: #0cb1f6;
	margin-right: 10px;
}
.footer-recent-inner h2{margin-bottom:10px;padding-bottom:0}
.footer-recent-inner h2 a {
	color: #f4f4f4;
	font-size: 16px;
	font-weight: 600;
	text-transform:capitalize;
}
.footer-recent-inner span {
	color: #f4f4f4;
	font-weight: 600;
	font-size: 14px;
	text-transform: capitalize;
}
.footer-recent-inner span:last-child{padding-left:15px}
.footer-recent-inner span i {
	color: #0cb1f6;
	margin-right: 10px;
}
	
.footer-wedget-three li i {
  display: inline-block;
  margin-right: 10px;
}
.ft-menu ul {
  padding: 0px 20px;
}
.ft-menu h2 {
  display: inline-block;
  text-align: left;
}
.footer-wedget-three li {
  color: #ccc;
  font-size: 14px;
padding:10px
}
.footer-wedget-two li {
  display: inline-block;
}
.footer-wedget-two li a {
	border: 1px solid #10314f;
	color: #fff;
	display: inline-block;
	margin: 8px 8px 8px 0;
	padding: 8px 10px;
	text-transform: capitalize;
	transition: all 0.4s ease-in-out 0s;
	background: transparent;
	color: #efeeee;
}
.footer-wedget-two li a:hover{transition: all 0.4s ease-in-out 0s;background:#0cb1f6;color:#fff;border-color:#0cb1f6}
.footer-wedget-two li a i {
  margin-right: 10px;
}
.footer-widget-menu li:before{content: "\f101";
font-family: fontawesome;
left:0px;top:0px;
position: relative;color:#0cb1f6;padding-right:10px}
.footer-widget-menu li{position:relative}
.footer-widget-menu li a {
  color: #efeeee;
  text-transform: capitalize;
  padding-bottom: 10px;
  display: inline-block;
}
.footer-widget-menu li a:hover{color:#0cb1f6;transition: all 0.4s ease 0s;}

.footer-bottom-sec {
	padding: 15px 0;
	background: #0e2247;
}
.footer-social {
	text-align: right;
	margin-top: 8px;
}
.footer-social ul li{display:inline-block;}
.footer-social ul li i {
	color: #fff;
	float: left;
	height: 22px;
	line-height: 24px;
	margin-left: 4px;
	text-align: center;
	width: 22px;
	transition: all 0.4s ease-in-out 0s;
	background: #083180;
	border-radius: 4px;
}
.footer-social ul li i:hover{background:#0cb1f6;}
.copy-right {
	margin-top: 8px;
}
.footer-bottom-sec p {
	margin: 0;
	text-align: left;
	color: #efeeee;
}
.copy-right span,
.copy-right span a{
  color: #0cb1f6;
}
.footer-wedget-one p {
	color: #efeeee;
}
/*
28.Why Choose Us Section 
======================*/
.why-choose-us-sec {
	background: #f1f5f9;
}
.why-choose-thumb {
	position: relative;
}
.why-choose-text {
	padding: 30px;
}
.why-choose-inner {
	text-align: left;
	position: relative;
	overflow: hidden;
	margin-bottom:35px;
	box-shadow: 0 0 10px 1px #ebeff2;
	transition: all 0.4s ease 0s;
	background: #fff;
}
.why-choose-inner:hover {
background:#083180;
color:#fff;
margin-top:-10px;
transition: all 0.4s ease 0s;
}
.why-choose-text h2 a {
	font-size: 24px;
	text-transform: capitalize;
	color: #083180;
}
.why-choose-inner:hover .why-choose-text h2 a{
	color:#fff
}
.why-choose-inner:hover .why-choose-text a{
	color:#fff;
}
.why-choose-icon {
	position: absolute;
	width: 80px;
	height: 80px;
	background: #fff;
	line-height: 80px;
	text-align: center;
	margin: 0px auto;
	left: 0;
	bottom: 0;
	transition: all 0.4s ease 0s;
}
.why-choose-inner:hover .why-choose-thumb .why-choose-icon{
	background-color:#083180;
	transition: all 0.4s ease 0s;
}
.why-choose-icon img {
	width: 50px;
	height: 50px;
	display: inline-block;
}
.why-us-button {
	font-weight: 600;
}
/* The End */
