//$theme_color: #C4D72D;
$theme_color: #A0C800;
$theme_font: #0b0b0b;
$theme_color_2: #FA8128;
//$theme_color_2: #FF9300;
$theme_color_3: #083180;
$font_color: #083180;
$wh_color: #FFF;

.cl-1 {
  color: $theme_color !important;
}

.cl-2 {
  color: $theme_color_2 !important;
}

.cl-3 {
  color: $theme_font !important;
}

.cl-4 {
  color: $theme_color_3 !important;
}

body {
  color: $theme_font !important;
}

header {
  background-color: #ffffff87;
  position: fixed;
  z-index: 10;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: $theme_font;
}

.about-desc span.about-subtitle {
  color: $theme_font;
  background: $theme_color;
  font-weight: 600;
  font-size: 26px;
  line-height: 26px;
  padding: 10px;
}

//mobile_menu
.mean-container a.meanmenu-reveal {
  //background: $theme_color;
  //color: $theme_font;
}

.mean-container a.meanmenu-reveal span {
  //background: $theme_font;
}

.mean-container .mean-nav ul li a {
  //background: $theme_color;
  //color: $theme_font;
  //border-top: 1px solid $theme_color;
}

.mean-container .mean-nav ul li a.mean-expand {
  //border-left: 1px solid $theme_color !important;
  //border-bottom: 1px solid $theme_color !important;
}

//end_mobile_menu

//Our Service List
/* 10.Service Section
============================*/
a.service-button {
  border: 1px solid $theme_font;
  color: $theme_font;
}

#all-service.owl-carousel.owl-theme .owl-dot.active {
  background: $theme_font none repeat scroll 0 0;
  border-color: $theme_font;
}

.service-item .inner {
  position: relative;
  margin-bottom: 35px;
  display: inline-block;
  text-align: center;
  padding: 40px 20px 40px 20px;
  background: #fff;
  border: 10px solid #ddd;
  transition: all 0.4s ease 0s;
}

.service-item .inner:hover {
  background: transparent;
  transition: all 0.4s ease 0s;
}

.service-item .inner:hover a.service-button {
  box-shadow: inherit;
  transition: all 0.4s ease 0s;
  background: $theme_color;
  color: $theme_font;
}

.service-item .inner:hover.inner h2:before {
  background: #fff;
}

.service-item .inner h2::before {
  background: $theme_font;
}

.service-item .inner h2 a {
  color: $font_color;
}

.service-item .inner:hover.inner h2 a {
  color: #fff;
}

.service-item .inner .service-content p {
  color: $theme_font;
}

.service-item .inner:hover .service-content p {
  color: $theme_font;
}

.service-icon {
  width: auto;
  height: auto;
}

.service-item .inner {
  padding: 10px 10px 20px 10px;
}

.call-to-action-text a.btn {
  background: $theme_color none repeat scroll 0 0;
  color: $theme_font;
}

.call-to-action-text a.btn:hover {
  background: $theme_color_3;
  transition: all 0.4s ease-in-out 0s;
  color: $theme_color;
}

.call-us-now {
  color: $theme_color_2;
}

.sec-title h1 {
  color: $font_color;
}

a.blog-readmore {
  color: $theme_font;
  background: $theme_color;
  padding: 10px 20px;
}

.single-post:hover a.blog-readmore {
  background: $theme_color_2;
  color: $wh_color;
}

.post-date {
  background: $theme_color_2;
}

.post-date span {
  color: $wh_color;
}

.post-meta li a {
  color: $theme_font;
}

.logo {
  padding: 0;
  margin-top: 20px;
}

/*
25.Call To Action Section
============================*/
.call-to-action-overlay {
  background-color: $theme_color;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.message-subtitle {
  color: $theme_font;
}

.counting_sl h2 {
  color: $theme_font;
}

.call-us-now {
  color: $theme_font;
}

.main-menu ul li a {
  color: $theme_font;
}

.main-menu ul li a:hover {
  transition: all 0.4s 0s ease;
  //color: $font_color !important;
  color: $theme_font !important;
}

/*
8.Title Section
=================*/
.sec-title h1 {
  color: $theme_color_2;
}

.why-choose-inner:hover {
  background: $theme_color_3;
}

.why-choose-inner:hover .why-choose-thumb .why-choose-icon {
  background-color: $theme_color_3;
  transition: all 0.4s ease 0s;
}

.header-top {
  background: $theme_color;
}

.hd-sec {
  z-index: 1000;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(148, 148, 148, 1);
  -moz-box-shadow: 0px 0px 5px 2px rgba(148, 148, 148, 1);
  box-shadow: 0px 0px 5px 2px rgba(148, 148, 148, 1);
}

.all-slide .owl-item {
  height: 88.5vh;
}

.main-menu ul li.active::before {
  background: $theme_color;
  //background: #121415;
  top: 60%;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0px auto;
  transform: translateY(-50%);
}

.slider-text {
  display: none;
}

video {
  width: 100%;
  background-position: 10px 10px;
  margin-top: -110px;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(148, 148, 148, 1);
  -moz-box-shadow: 0px 0px 5px 2px rgba(148, 148, 148, 1);
  box-shadow: 0px 0px 5px 2px rgba(148, 148, 148, 1);
}

.video-container {
  z-index: -100;
  top: 110px;
  position: relative;
  margin-bottom: 65px;
}

//footer

.footer-bottom-sec {
  background: $theme_color;
}

.footer-bottom-sec p {
  color: $theme_font;
}

.footer-social ul li i {
  color: $theme_font;
  background: $theme_color;
}

.footer-sec h2 {
  color: $theme_color;
}

.latest-news-desc li a {
  color: $theme_color;
}

.footer-widget-menu li a:hover {
  color: $theme_color;
}

.footer-wedget-one button {
  background: $theme_color none repeat scroll 0 0;
}

.footer-wedget-one button:hover {
  background: $theme_color_3;
}

.footer-wedget-one button i {
  color: $font_color;
}

.footer-wedget-one button:hover i {
  color: $theme_color;
}

.copy-right span,
.copy-right span a {
  color: $theme_color;
}

.footer-social ul li i:hover {
  color: $theme_color;
  background: $theme_font;
}

.copy-right span, .copy-right span a {
  color: $theme_font;
}

//media_query
@media only screen and (max-width: 767px) and (min-width: 0px) {

  .hd-sec {
    padding-top: 0px;
    position: relative;
  }

  .all-slide .owl-item {
    height: 550px;
  }
  video {
    width: 100%;
    margin-top: 0px;
  }
  .video-container {
    top: 0px;
    margin-bottom: 0;

  }
  header {
    background-color: #FFF;
    position: unset;
    z-index: 10;
    width: 100%;
  }
}

//mobile menu
.mean-container a.meanmenu-reveal {
  background: $theme_color;
}

.mean-container .mean-nav {
  background: $theme_color;
}

.mean-container .mean-nav ul li a {
  border-top: 1px solid $wh_color;
}