//$theme_color: #C4D72D;
$theme_color: #8DC73F;
$theme_font: #0b0b0b;
$theme_color_2: #FA8128;
//$theme_color_2: #FF9300;
$theme_color_3: #083180;
$font_color: #083180;
$wh_color: #FFF;

h1, h2, h3, h4, h5, h6 {
  color: $theme_font;
}

.cl-1 {
  color: $theme_color !important;
}

.cl-2 {
  color: $theme_color_2 !important;
}

.cl-3 {
  color: $theme_font !important;
}

.cl-4 {
  color: $theme_color_3 !important;
}

.cl-5 {
  color: $wh_color !important;
}

body {
  color: $theme_font !important;
}

.hd-sec {
  -webkit-box-shadow: 0px 0px 5px 2px rgba(148, 148, 148, 1);
  -moz-box-shadow: 0px 0px 5px 2px rgba(148, 148, 148, 1);
  box-shadow: 0px 0px 5px 2px rgba(148, 148, 148, 1);
}

.main-menu ul li a {
  color: $theme_font;
}

.main-menu ul li a:hover {
  color: $theme_font;
}

//top_menu
.main-menu ul li.active::before {
  background: $theme_color;
  //background: #121415;
  top: 60%;
}

//breadcrumb-list
.breadcrumb-list li:last-child a {
  color: $theme_color;
}

//contact
.contact-info-icon {
  background: $theme_color;
}

.contact-info-icon i {
  color: $theme_font;
}

.single-input-fieldsbtn input[type="submit"] {
  background: $theme_color;
  border-color: $theme_color;
  color: $theme_font;
}

.single-input-fieldsbtn input[type="submit"]:hover {
  color: $theme_color;
  border-color: $font_color;
  background: $font_color;
}

.brochures li {
  background: $theme_color;
}

.brochures li a {
  color: $theme_font;
}

.brochures li:hover {
  background: $theme_color;
}

.brochures li:hover a {
  color: $wh_color !important;
  transition: all 0s ease-out;
}

.brochures li:hover::before {
  color: $wh_color !important;
}

.brochures li:hover i {
  color: $wh_color !important;
}

.brochures li:first-child::before {
  color: $theme_font;
}

.brochures li:first-child::before {
  color: $theme_font;
}

.brochures li:last-child::before {
  color: $theme_font;
}

.brochures li:last-child::before {
  color: $theme_font;
}

.brochures li a span {
  color: $theme_font;
}

.brochures li a span:hover {
  color: $theme_font;
}

//footer

.footer-bottom-sec {
  background: $theme_color;
}

.footer-bottom-sec p {
  color: $theme_font;
}

.footer-social ul li i {
  color: $theme_font;
  background: $theme_color;
}

.footer-sec h2 {
  color: $theme_color;
}

.latest-news-desc li a {
  color: $theme_color;
}

.footer-widget-menu li a:hover {
  color: $theme_color;
}

.footer-wedget-one button {
  background: $theme_color none repeat scroll 0 0;
}

.footer-wedget-one button:hover {
  background: $theme_color_3;
}

.footer-wedget-one button i {
  color: $font_color;
}

.footer-wedget-one button:hover i {
  color: $theme_color;
}

.copy-right span,
.copy-right span a {
  color: $theme_color;
}

.footer-social ul li i:hover {
  color: $theme_color;
  background: $theme_font;
}

.copy-right span, .copy-right span a {
  color: $theme_font;
}

//blog
.call-to-action-text a.btn {
  background: $theme_color none repeat scroll 0 0;
  color: $theme_font;
}

.call-to-action-text a.btn:hover {
  background: $theme_color_3;
  transition: all 0.4s ease-in-out 0s;
  color: $theme_color;
}

.call-us-now {
  color: $theme_color_2;
}

.sec-title h1 {
  color: $font_color;
}

a.blog-readmore {
  color: $theme_font;
  background: $theme_color;
  padding: 10px 20px;
}

.single-post:hover a.blog-readmore {
  background: $theme_color_2;
  color: $theme_font;
}

.post-date {
  background: $theme_color_2;
}

.post-date span {
  color: $theme_font;
}

.post-meta li a {
  color: $theme_font;
}

.single_r_dec a {
  color: $theme_font;
}

.pagination.custom-pagination li.active a {
  background: $theme_color_2 none repeat scroll 0 0;
  color: $theme_font;
}

.pagination.custom-pagination li a {
  color: $theme_font;
  border: 1px solid $theme_color;
  background: $theme_color;
}

.pagination.custom-pagination li a:hover {
  background: $font_color none repeat scroll 0 0;
  color: $theme_color;
  border-color: $font_color
}

.single-post:hover a.blog-btn {
  background: $font_color;
  color: $theme_color;
  border-color: $font_color
}

//about_us
.about-desc span.about-subtitle {
  color: $theme_font;
  background: $theme_color;
  font-weight: 600;
  font-size: 26px;
  line-height: 26px;
  padding: 10px;
}

.about-desc a {
  background: $theme_color;
  color: $theme_font;
}

.team-overlay {
  left: -4px;
}

.team-overlay h2 {
  color: $theme_font;
  background: $theme_color;
  border-radius: 0 50px 50px 0;
  display: inline-block;
  transition: all 0.4s ease 0s;
}

.team-member {
  border: 4px solid #f2f2f2;
  margin-bottom: 35px;
  transition: all 0.4s ease 0s;
}

.team-member:hover {
  border-color: #f2f2f2;
}

.team-member:hover .team-overlay h2 {
  background: $theme_color_2;
  //color: $theme_color;
}

//career
.career-page-content {
  text-align: center;
  padding: 0px 50px;
}

.career-page-content h1 {
  font-size: 35px;
}

.career-page-content > a {

}

.faq-sec .panel-heading {
  background: $theme_color;
}

.faq-sec .panel-heading a {
  color: $wh_color;
}

//ir
.project-details-info {
  margin-bottom: 30px;
}

.team-social li a:hover {
  color: #fff;
  background: $theme_color_2;
  border-color: $theme_color_2;
}

.count-up-sec {
  background: $theme_color_2 none repeat scroll 0 0;
}

.counting_sl h2 {
  color: $theme_font;
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .main-menu ul li a {
    color: $theme_font;
  }
}

//mobile menu
.mean-container a.meanmenu-reveal {
  background: $theme_color;
}

.mean-container .mean-nav {
  background: $theme_color;
}

.mean-container .mean-nav ul li a {
  border-top: 1px solid $wh_color;
}