h1, h2, h3, h4, h5, h6 {
  color: #0b0b0b; }

.cl-1 {
  color: #8DC73F !important; }

.cl-2 {
  color: #FA8128 !important; }

.cl-3 {
  color: #0b0b0b !important; }

.cl-4 {
  color: #083180 !important; }

.cl-5 {
  color: #FFF !important; }

body {
  color: #0b0b0b !important; }

.hd-sec {
  -webkit-box-shadow: 0px 0px 5px 2px #949494;
  -moz-box-shadow: 0px 0px 5px 2px #949494;
  box-shadow: 0px 0px 5px 2px #949494; }

.main-menu ul li a {
  color: #0b0b0b; }

.main-menu ul li a:hover {
  color: #0b0b0b; }

.main-menu ul li.active::before {
  background: #8DC73F;
  top: 60%; }

.breadcrumb-list li:last-child a {
  color: #8DC73F; }

.contact-info-icon {
  background: #8DC73F; }

.contact-info-icon i {
  color: #0b0b0b; }

.single-input-fieldsbtn input[type="submit"] {
  background: #8DC73F;
  border-color: #8DC73F;
  color: #0b0b0b; }

.single-input-fieldsbtn input[type="submit"]:hover {
  color: #8DC73F;
  border-color: #083180;
  background: #083180; }

.brochures li {
  background: #8DC73F; }

.brochures li a {
  color: #0b0b0b; }

.brochures li:hover {
  background: #8DC73F; }

.brochures li:hover a {
  color: #FFF !important;
  transition: all 0s ease-out; }

.brochures li:hover::before {
  color: #FFF !important; }

.brochures li:hover i {
  color: #FFF !important; }

.brochures li:first-child::before {
  color: #0b0b0b; }

.brochures li:first-child::before {
  color: #0b0b0b; }

.brochures li:last-child::before {
  color: #0b0b0b; }

.brochures li:last-child::before {
  color: #0b0b0b; }

.brochures li a span {
  color: #0b0b0b; }

.brochures li a span:hover {
  color: #0b0b0b; }

.footer-bottom-sec {
  background: #8DC73F; }

.footer-bottom-sec p {
  color: #0b0b0b; }

.footer-social ul li i {
  color: #0b0b0b;
  background: #8DC73F; }

.footer-sec h2 {
  color: #8DC73F; }

.latest-news-desc li a {
  color: #8DC73F; }

.footer-widget-menu li a:hover {
  color: #8DC73F; }

.footer-wedget-one button {
  background: #8DC73F none repeat scroll 0 0; }

.footer-wedget-one button:hover {
  background: #083180; }

.footer-wedget-one button i {
  color: #083180; }

.footer-wedget-one button:hover i {
  color: #8DC73F; }

.copy-right span,
.copy-right span a {
  color: #8DC73F; }

.footer-social ul li i:hover {
  color: #8DC73F;
  background: #0b0b0b; }

.copy-right span, .copy-right span a {
  color: #0b0b0b; }

.call-to-action-text a.btn {
  background: #8DC73F none repeat scroll 0 0;
  color: #0b0b0b; }

.call-to-action-text a.btn:hover {
  background: #083180;
  transition: all 0.4s ease-in-out 0s;
  color: #8DC73F; }

.call-us-now {
  color: #FA8128; }

.sec-title h1 {
  color: #083180; }

a.blog-readmore {
  color: #0b0b0b;
  background: #8DC73F;
  padding: 10px 20px; }

.single-post:hover a.blog-readmore {
  background: #FA8128;
  color: #0b0b0b; }

.post-date {
  background: #FA8128; }

.post-date span {
  color: #0b0b0b; }

.post-meta li a {
  color: #0b0b0b; }

.single_r_dec a {
  color: #0b0b0b; }

.pagination.custom-pagination li.active a {
  background: #FA8128 none repeat scroll 0 0;
  color: #0b0b0b; }

.pagination.custom-pagination li a {
  color: #0b0b0b;
  border: 1px solid #8DC73F;
  background: #8DC73F; }

.pagination.custom-pagination li a:hover {
  background: #083180 none repeat scroll 0 0;
  color: #8DC73F;
  border-color: #083180; }

.single-post:hover a.blog-btn {
  background: #083180;
  color: #8DC73F;
  border-color: #083180; }

.about-desc span.about-subtitle {
  color: #0b0b0b;
  background: #8DC73F;
  font-weight: 600;
  font-size: 26px;
  line-height: 26px;
  padding: 10px; }

.about-desc a {
  background: #8DC73F;
  color: #0b0b0b; }

.team-overlay {
  left: -4px; }

.team-overlay h2 {
  color: #0b0b0b;
  background: #8DC73F;
  border-radius: 0 50px 50px 0;
  display: inline-block;
  transition: all 0.4s ease 0s; }

.team-member {
  border: 4px solid #f2f2f2;
  margin-bottom: 35px;
  transition: all 0.4s ease 0s; }

.team-member:hover {
  border-color: #f2f2f2; }

.team-member:hover .team-overlay h2 {
  background: #FA8128; }

.career-page-content {
  text-align: center;
  padding: 0px 50px; }

.career-page-content h1 {
  font-size: 35px; }

.faq-sec .panel-heading {
  background: #8DC73F; }

.faq-sec .panel-heading a {
  color: #FFF; }

.project-details-info {
  margin-bottom: 30px; }

.team-social li a:hover {
  color: #fff;
  background: #FA8128;
  border-color: #FA8128; }

.count-up-sec {
  background: #FA8128 none repeat scroll 0 0; }

.counting_sl h2 {
  color: #0b0b0b; }

@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .main-menu ul li a {
    color: #0b0b0b; } }
.mean-container a.meanmenu-reveal {
  background: #8DC73F; }

.mean-container .mean-nav {
  background: #8DC73F; }

.mean-container .mean-nav ul li a {
  border-top: 1px solid #FFF; }

/*# sourceMappingURL=rb_sub.css.map */
